body{
    background-color: blue;
    color: white;
}
 
body h1{
color: yellow
 }

 a{
    color: black;
 }

 img{
    margin-bottom: 10px;
 }
 
 a {
    margin-bottom: 30px;
 }

